body {
font-family: 'Times New Roman', Times, serif;
}
.serif {
  font-family: 'Times New Roman', Times, serif;
}

.athelas {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
}
.avenir {
  font-family: "Roboto", sans-serif;
}

.f-subheadline-l {
  font-family: "Playfair Display", serif;
}


.list__thumbnail img {
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 620px) {
  .list__item {
    display: flex;
    flex-direction: column;
  }
  .list__thumbnail {
    max-width: 100%;
    align-self: center;
  }
  .list__thumbnail img{
    width: 300px;
    padding-bottom: 15px;
  }
}