
figcaption {
  text-align: center !important;
  font-style: italic !important;
}
figure.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gray img {
  filter: grayscale(100%);
}
div#content h1 {
  font-size: 1.8em !important;
  line-height: 1.2em;
}
div#content {
  margin-top: 1em;
}

