body {
font-family: 'Times New Roman', Times, serif;
font-size: 1.2em;
}
.menu {
  font-size: 0.8em;
}
.list__footer-readmore {
  font-size: 0.6em;
}
.list__title {
  font-size: 1.2em;
}
.list__excerpt {
  font-size: 0.9em;
}

.list__thumbnail img {
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 620px) {
  .list__item {
    display: flex;
    flex-direction: column;
  }
  .list__thumbnail {
    max-width: 100%;
    align-self: center;
  }
  .list__thumbnail img{
    width: 300px;
    padding-bottom: 15px;
  }
}