body {
font-family: 'Times New Roman', Times, serif;
font-size: 1.2em;
}

.menu {
  font-size: 0.8em;
  border-bottom: 5px solid #76eab3;
  position: relative;
}
.menu__btn {
  background-color: #ff484a;
}
.menu__btn-title {
  color: #fff;
}
.menu__list {
  background-color: #ff484a;
}
.menu__list--active, .menu__list--active a{
  background-color: #76eab3;
  color: #484848;
}
.menu__item--active, .menu__item--active a {
  background: #76eab3;
  color: #484848;
}
.btn {
  background-color: #ff484a;
}
.btn:hover {
  background-color: #76eab3;
  color: #484848;
  transition: 0.3s ease-out !important;
}
.btn:hover > svg {
  fill: #484848;
  transition: 0.3s ease-out !important;
}
.menu__list a:hover {
  background-color: #76eab3;
  color: #484848;
  transition: 0.3s ease-out !important;
}
.widget__title {
  border-bottom: 3px solid #76eab3;
}
.list__footer-readmore {
  font-size: 0.6em;
}
.list__title {
  font-size: 1.2em;
}
.list__excerpt {
  font-size: 0.9em;
}
figcaption p {
  text-align: center;
  font-style: italic;
}
figure.center {
  text-align: center;
}
.list__thumbnail img {
  width: 100%;
  max-width: 300px;
}
.post__single {
  margin-bottom: 80px;
  border-bottom: 1px solid #484848;
}
.authorbox__avatar, .authorbox__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
}
.author__single {
  float: right;
  margin-top: 40px;
  font-style: italic;
  font-size: 1rem;
  display: block;
  margin-bottom: 10px;
}
.authorbox {
  position: relative;
  border: 0;
  padding: 20px 40px;
}
.authorbox::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #76eab3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.authorbox::after {
  content: "";
  position: absolute;
  bottom:0;
  right: 0;
  display: block;
  height: 10px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%;
  visibility: visible;
  background-color: #76eab3;
}
.pagination {
  display: flex;
  justify-content: center;
}




@media screen and (max-width: 620px) {
  .list__item {
    display: flex;
    flex-direction: column;
  }
  .list__thumbnail {
    max-width: 100%;
    align-self: center;
  }
  .list__thumbnail img{
    width: 300px;
    padding-bottom: 15px;
  }
}