{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-12 gap-10">
  <div class="col-span-8">
    <div class="hero-site col-span-8 gap-10 justify-between items-center py-4 md:py-15">
    <!-- Feature post by tag = "feature" -->
    <div class="gap-2 basis-1/2 self-center">
      {{- $featured := where .Site.RegularPages "Params.tags" "intersect" (slice "feature") -}}
      {{- $other_left := first 1 $featured -}}
      {{- $main := first 1 (after 2 $featured) -}}
      {{- $other_right := first 2 (after 3 $featured) -}}
      {{- $color := index .Site.Params.section_color .Section -}}
          {{ range $other_left }}
          <h2 class="text-[0.8rem] text-[#d4a843] py-2">✦ Bài viết nổi bật</h2>
          <section class="relative group flex flex-col rounded-lg mb-8 hover:bg-[{{ $color }}]/30">
            <figure class="w-full aspect-video overflow-hidden border-t-[20px] border-[#54371b] border-b-[20px]">

              {{- if .Params.image }}

                {{- if (strings.HasPrefix .Params.image "http") }}

                  <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">

                {{- else if (strings.HasPrefix .Params.image "/" )}}
                  <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">
                {{- else }}
                  {{- with $imgfeature := resources.Get .Params.image }}
                    {{ $imgfeature := $imgfeature.Resize "720x Q85" -}}
                    <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
                  {{- end }}

                {{- end }}

              {{- end }}

            </figure>
            <div class="px-2 bg-white py-6">
              <h2 class="text-[#4a2e18] my-4 relative after:h-[1px] after:w-[200px] after:bg-[#e5d3a1] after:inline-block after:align-middle after:ml-3">{{ .CurrentSection.Title }}</h2>
              <h2 class="text-1xl line-clamp-2 md:text-xl text-[#4a2e18] lg:text-xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title }}</a></h2>
              <p class="text-[#4a2e18] mb-3"><time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="before:content-['•'] mr-2 font-bold text-[#4a2e18]"></span>{{ .Date.Format "02-01-2006" }}</time></p>
              <p class="text-normal leading-normal text-[#4a2e18] line-clamp-5">{{ .Params.description }}</p>
            </div>
          </section>

          {{ end -}}
      </div>  
    </div>
  
    <!-- / End feature post  -->
    <!-- Start recent post  -->
      <section class="mb-10">

        <div class="flex items-center mb-6 gap-4">
          <div class="short-line flex-1 h-[2px] bg-[#e5d3a1] max-w-[40px]"></div>
          <h2 class="text-3xl md:text-4xl font-bold mr-[20px]">Bài mới</h2>
          <div class="line flex-1 h-[2px] bg-[#e5d3a1] relative"></div>
          <div class="diamon flex-shrink-0 w-3 h-3 bg-[#b8882a] rotate-45"></div>
          <div class="short-line flex-1 h-[2px] bg-[#e5d3a1] max-w-[40px]"></div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-4">

        {{ $paginator := .Paginate ( where site.RegularPages "Type" "in" site.Params.mainSections) }}
          
        
        {{ range $paginator.Pages }}
        <div class="border-t-2 border-[#ede0c4] hover:border-[#a0784a] hover:-translate-1 transition-all ease-in-out duration-300 relative pt-4 mb-4">
          <article class="grid md:col-span-8">
            <figure class="w-full aspect-video overflow-hidden border">

              {{- if .Params.image }}

                {{- if (strings.HasPrefix .Params.image "http") }}

                  <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">

                {{- else if (strings.HasPrefix .Params.image "/" )}}
                  <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" >
                {{- else }}
                  {{- with $imgfeature := resources.Get .Params.image }}
                    {{ $imgfeature := $imgfeature.Fill "200x200 Center" -}}
                    <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
                  {{- end }}

                {{- end }}

              {{- end }}

            </figure>
            <div class="flex flex-col">
              <h2 class="mt-2.5 text-[#8b3a1e] after:content[''] after:inline-block after:w-32 after:align-middle after:ml-2 after:h-[1px] after:bg-[#ede0c4] after:top-0">{{ .CurrentSection.Title }}</h2>
              <h2 class="text-xl line-clamp-2 md:text-xl lg:text-xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title}}</a></h2>
              <p class="text-lg leading-normal text-zinc-500 line-clamp-2">{{ .Params.description }}</p>
              <p class="text-[0.7rem] mt-3 text-[#8b3a1e]">{{ .Params.author | default .Site.Params.author.name }} <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="font-bold before:content-['•'] mr-2"></span>{{ .Date.Format "02 tháng 01 2006" }}</time></p>
            </div>
          </article>
            </div>
        {{ end }}
        </div>
      </section>  

        <!-- Paginate here -->

        <!-- <div class="flex items-center mt-10">
          {{- if $paginator.HasPrev -}}
            <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ $paginator.Prev.URL }}">← Trang sau</a>
          {{- end -}}

          {{- if $paginator.HasNext -}}
            <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ $paginator.Next.URL }}">Trang tiếp →</a>
          {{- end -}}
        </div>

      </section> -->

    <!-- / End recent post  -->

    <!-- start category post -->
    <div class="cat_post">
      <section class="mb-10">
          <div class="flex items-center gap-4">
            <div class="short-line flex-1 h-[2px] bg-[#e5d3a1] max-w-[40px]"></div>
              <h2 class="text-xl md:text-3xl my-10">Chuyên Mục</h2>
            <div class="line flex-1 h-[2px] bg-[#e5d3a1] relative"></div>
            <div class="diamon flex-shrink-0 w-3 h-3 bg-[#b8882a] rotate-45"></div>
            <div class="short-line flex-1 h-[2px] bg-[#e5d3a1] max-w-[40px]"></div>
          </div>
          <div class="flex items-center mb-6 gap-4">
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <h2 class="text-xl md:text-xl font-bold">Nhân Vật</h2>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
          </div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-4">
          {{ $cat := "nhan-vat" }}
          {{ range where site.RegularPages "Section" $cat | first 3 }}
          <div class="border-b-2 border-[#ede0c4] hover:border-[#a0784a] hover:-translate-1 transition-all ease-in-out duration-300 relative pb-4 mb-4">
            <article class="flex gap-x-3">
              <figure class="w-36 h-36 flex-shrink-0 aspect-square overflow-hidden border">

                {{- if .Params.image }}

                  {{- if (strings.HasPrefix .Params.image "http") }}

                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">

                  {{- else if (strings.HasPrefix .Params.image "/" )}}
                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" >
                  {{- else }}
                    {{- with $imgfeature := resources.Get .Params.image }}
                      {{ $imgfeature := $imgfeature.Fill "200x200 Center" -}}
                      <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
                    {{- end }}

                  {{- end }}

                {{- end }}

              </figure>
              <div class="flex flex-col">
                <h2 class="text-xl line-clamp-2 md:text-xl lg:text-xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title}}</a></h2>
                <p class="text-lg leading-normal text-zinc-500 line-clamp-2">{{ .Params.description }}</p>
                <p class="text-[0.7rem] mt-3 text-[#8b3a1e]">{{ .Params.author | default .Site.Params.author.name }} <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="font-bold before:content-['•'] mr-2"></span>{{ .Date.Format "02 tháng 01 2006" }}</time></p>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
        <div class="read__more flex justify-end">
          <a class="bg-[#8b3a1e] text-[1.1rem] font-bold italic hover:-translate-x-0.5 transition-all ease-in duration-200 text-[#e5d3a1] px-6 py-1 rounded-[3px] hover:" href="{{ printf "%0s" $cat |absURL }}">Xem thêm...</a>
        </div>
      </section> 
      <!-- in đời sống -->
      <section class="mb-10">
          <div class="flex items-center mb-6 gap-4">
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <h2 class="text-xl md:text-xl font-bold">Đời sống Nam Kỳ xưa</h2>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
          </div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-4">
          {{ $cat := "doi-song" }}
          {{ range where site.RegularPages "Section" $cat | first 3 }}
          <div class="border-b-2 border-[#ede0c4] hover:border-[#a0784a] hover:-translate-1 transition-all ease-in-out duration-300 relative pb-4 mb-4">
            <article class="flex gap-x-3">
              <figure class="w-36 h-36 flex-shrink-0 aspect-square overflow-hidden border">

                {{- if .Params.image }}

                  {{- if (strings.HasPrefix .Params.image "http") }}

                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">

                  {{- else if (strings.HasPrefix .Params.image "/" )}}
                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" >
                  {{- else }}
                    {{- with $imgfeature := resources.Get .Params.image }}
                      {{ $imgfeature := $imgfeature.Fill "200x200 Center" -}}
                      <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
                    {{- end }}

                  {{- end }}

                {{- end }}

              </figure>
              <div class="flex flex-col">
                <h2 class="text-xl line-clamp-2 md:text-xl lg:text-xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title}}</a></h2>
                <p class="text-lg leading-normal text-zinc-500 line-clamp-2">{{ .Params.description }}</p>
                <p class="text-[0.7rem] mt-3 text-[#8b3a1e]">{{ .Params.author | default .Site.Params.author.name }} <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="font-bold before:content-['•'] mr-2"></span>{{ .Date.Format "02 tháng 01 2006" }}</time></p>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
        <div class="read__more flex justify-end">
          <a class="bg-[#8b3a1e] text-[1.1rem] font-bold italic hover:-translate-x-0.5 transition-all ease-in duration-200 text-[#e5d3a1] px-6 py-1 rounded-[3px] hover:" href="{{ printf "%0s" $cat |absURL }}">Xem thêm...</a>
        </div>
      </section> 
      <!-- in món ngon -->
      <section class="mb-10">
          <div class="flex items-center mb-6 gap-4">
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <h2 class="text-xl md:text-xl font-bold">Ẩm thực Miền Nam</h2>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
            <div class="diamon flex-shrink-0 w-2 h-2 bg-[#b8882a] rotate-45"></div>
          </div>

        <div class="grid grid-cols-1 gap-x-6 gap-y-4">
          {{ $cat:= "mon-ngon"}}
          {{ range where site.RegularPages "Section" "mon-ngon" | first 3 }}
          <div class="border-b-2 border-[#ede0c4] hover:border-[#a0784a] hover:-translate-1 transition-all ease-in-out duration-300 relative pb-4 mb-4">
            <article class="flex gap-x-3">
              <figure class="w-36 h-36 flex-shrink-0 aspect-square overflow-hidden border">

                {{- if .Params.image }}

                  {{- if (strings.HasPrefix .Params.image "http") }}

                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}">

                  {{- else if (strings.HasPrefix .Params.image "/" )}}
                    <img class="object-cover h-full w-full group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" >
                  {{- else }}
                    {{- with $imgfeature := resources.Get .Params.image }}
                      {{ $imgfeature := $imgfeature.Fill "200x200 Center" -}}
                      <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
                    {{- end }}

                  {{- end }}

                {{- end }}

              </figure>
              <div class="flex flex-col">
                <h2 class="text-xl line-clamp-2 md:text-xl lg:text-xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title}}</a></h2>
                <p class="text-lg leading-normal text-zinc-500 line-clamp-2">{{ .Params.description }}</p>
                <p class="text-[0.7rem] mt-3 text-[#8b3a1e]">{{ .Params.author | default .Site.Params.author.name }} <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"><span class="font-bold before:content-['•'] mr-2"></span>{{ .Date.Format "02 tháng 01 2006" }}</time></p>
              </div>
            </article>
          </div>
          {{ end }}
        </div>
        <div class="read__more flex justify-end">
          <a class="bg-[#8b3a1e] text-[1.1rem] font-bold italic hover:-translate-x-0.5 transition-all ease-in duration-200 text-[#e5d3a1] px-6 py-1 rounded-[3px] hover:" href="{{ printf "%0s" $cat |absURL }}">Xem thêm...</a>
        </div>
      </section> 
    </div>

  </div>
  <!-- end category post -->

  <aside class="col-span-4 py-15 hidden md:block">
    {{ partial "content/side-bar" . }}
  </aside>
</div>

{{ end }}