{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
   <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-30-l mb4 relative bg-white pa3">
          {{ if .Params.featured_image }}
            <div class="mb2">
              <img src="{{ .Params.featured_image | relURL }}" alt="{{ .Title }}" class="w-100 h5 object-cover br2">
            </div>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>{{ .Summary | plainify}}</p>
          {{ else }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
