body {
  font-family: 'Courier New', Courier, monospace;
}
#content {
  font-weight: 600;
  color: #697177;
}
figcaption {
  text-align: center !important;
  font-style: italic !important;
}
figure.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gray img {
  filter: grayscale(100%);
}
div#content h1 {
  font-size: 1.8em !important;
  line-height: 1.2em;
}
div#content {
  margin-top: 1em;
}

div.button-btt > button {
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  color: #fff;
  background-color: rgb(255, 179, 65);
}
div#backtop button.hidden {
  opacity: 0;
}
div#backtop button.visible {
  opacity: 1;
}
.bg-viewall {
  background-color: #ffb341;
}
.title-site {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 3rem;
}
.title-site h1 {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin: 0 0 1rem;
}
.title-site p {
  font-size: 1.5rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 500;
}


/* responsive */

@media (max-width: 768px) {
  .title-site h1 {
    font-size: 2rem;
  }
  .title-site p {
    font-size: 1rem;
  }
}