
figcaption {
  text-align: center !important;
  font-style: italic !important;
}
figure.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.gray img {
  filter: grayscale(100%);
}
div#content h1 {
  font-size: 1.8em !important;
  line-height: 1.2em;
}
div#content {
  margin-top: 1em;
}

div.button-btt > button {
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 999;
  color: #fff;
  background-color: rgb(255, 179, 65);
}
div#backtop button.hidden {
  opacity: 0;
}
div#backtop button.visible {
  opacity: 1;
}