<div class="max-w-screen mx-auto px-4 md:px-6 lg:px-8">

  <div class="grid grid-cols-1 md:grid-cols-3 space-y-6 mb-4">

    <div class="w-full] space-y-4 md:pr-8 lg:pr-10 text-[#8c7355]">

      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <span class="text-2xl text-[#f5ecd8] pl-3 font-semibold uppercase">{{ .Site.Title }}</span>
      </a>

      <p class="font-semibold">
        Là một nơi lưu trữ những kỷ niệm về Nam Kỳ xưa.<br>Nếu các bạn có những bài viết hay về Nam Kỳ xưa thì có thể đóng góp bằng cách gửi email cho mình
      </p>

      <p>Email: <a href="mailto:lhp0988@gmail.com">LHP0988@GMAIL.COM</a></p>

    </div>

    <div class="flex items-start justify-center">

      {{ partial "content/social-media.html" . }}

    </div>
    <div class="resenpost w-full">
      <section class="max-w-md mx-auto mb-24">
        <h3 class="text-xl uppercase font-bold text-[#f5ecd8] mb-4 border-b-[1px] border-[#342116] pb-4">Chuyên Mục</h3>
        <div class="flex text-[#8c7355] flex-col]">
            {{ with site.Menus.main }}
            <ul class="block flex flex-col text-[#8c7355] w-full">
            {{ range . }}
              {{ if $.IsMenuCurrent .Menu . }}
                <li class="border-b-[1px] border-[#342116] leading-7 font-bold"><a class="active hover:text-[#c8a97e]" aria-current="page" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ else }}
                <li class="border-b-[1px] border-[#342116] leading-7 font-bold"><a class="hover:text-[#c8a97e]" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
          {{ end }}
          </ul>
          {{ end }}
        </div>
      </section>
    </div>
    
  </div>
  <div class="border-t border-[#c8a97e] pt-4">

    <p class="text-sm text-[#8c7355]">Copyright © 2025. All rights reserved. <a href="https://namkyxua.com/" target="_blank" rel="noopener">www.namkyxua.com</a></p>

  </div>
  
</div>
  
