<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="20" height="20"><path d="M12,0C5.383,0,0,5.383,0,12s5.383,12,12,12,12-5.383,12-12S18.617,0,12,0Zm0,22c-5.514,0-10-4.486-10-10S6.486,2,12,2s10,4.486,10,10-4.486,10-10,10Zm-2-12c0,.378,.271,.698,.644,.76l3.041,.507c1.342,.223,2.315,1.373,2.315,2.733,0,1.654-1.346,3-3,3v2h-2v-2c-1.654,0-3-1.346-3-3h2c0,.552,.448,1,1,1h2c.552,0,1-.448,1-1,0-.378-.271-.698-.644-.76l-3.041-.507c-1.342-.223-2.315-1.373-2.315-2.733,0-1.654,1.346-3,3-3v-2h2v2c1.654,0,3,1.346,3,3h-2c0-.551-.448-1-1-1h-2c-.552,0-1,.449-1,1Z"/></svg>
        
        <span class="text-2xl pl-3 font-semibold uppercase">{{ .Site.Title }}</span>
      </a>

      <p class="font-semibold">
        Là một nơi lưu trữ những kỷ niệm về Nam Kỳ xưa.<br>Nếu các bạn có những bài viết hay về Nam Kỳ xưa thì có thể đóng góp bằng cách gửi email cho mình
      </p>

      <p>Email: <a href="mailto:lhp0988@gmail.com">LHP0988@GMAIL.COM</a></p>

    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

{{ partial "content/social-media.html" . }}

    </div>
    
  </div>

  <div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="border-t pt-4">

    <p class="text-sm">Copyright © {{ now.Year }}. All rights reserved. <a href="https://namkyxua.com/" target="_blank" rel="noopener">www.namkyxua.com</a></p>

  </div>
  
</div>
  
