<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
	<div class="flex items-center">
		<div class="flex items-center">
			<div class="relative rounded-full py-1.5 px-6 text-white text-xl font-bold uppercase mx-2">
				{{ if .IsHome}}<h1><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			{{ else }}<h2><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>{{ end }}
			</div>
		</div>
	</div>
	<div class="navi-search grid grid-cols-1 md:grid-cols-2">
		<div class="col-pan-1">{{- partial "menu.html" (dict "menuID" "main" "page" .) -}}</div>
		<div class="col-span-1">{{- partial "search.html" . -}}</div>
	</div>
</div>